1. If name = ''' Hi How are you?Starterd learning python.It's really interesting.''' 

Then what is the output of following code
• name[:]• name[-10:-5]• name[3:12]• name[12:3]• name[5,6]• name[-4:-12]• name[::2]• name[::-2]

In [11]:

name = "Hi How are you?Starterd learning python.It's really interesting."
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
print(name[5:6])
print(name[-4:-12])
print(name[::2])
print(name[::-2])

Hi How are you?Starterd learning python.It's really interesting.
teres
How are y

w

H o r o?tredlann yhnI' elyitrsig
.nteen larst.otpgire rtaSuyeawHi

2. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]

a. L1[:]

b. L1[::3]

c. L1[::-2]

d. How to extract value “Happy” based on index and negative index

e. How to check type of data in list at 4th position

f. Extract values for 100, 300, 400

In [12]:
L= ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L[:])
print(L[::3])
print(L[::-2])
print(L[8])
print(L[-2])
print(type(L[4]))
print(L[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']
Happy
Happy
<class 'str'>
[100, 300, 400]

3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following• L2[4]• L2[1:5]• L2[7]• L2[7][2]• L7[7][2:]• L2[ : 3]• L2[3:]

In [13]:
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success'] 
print(l2[4])
print(l2[1:5])
print(l2[7])
print(l2[7][2])
print(l2[7][2:])
print(l2[:3])
print(l2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

4. From the above l2 value ‘b’ must be changed to ‘BEE’.

In [14]:
l2[4][1]='BEE'
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

5. From l2 “BEE” has to discard

In [16]:
l2[4].remove('BEE')
l2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

6. In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}

In [17]:
dictionary={'insect':['bee','moth'],'bird':['parrot','sparrow']}
l2.append(dictionary)
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

7. From l2 extract insect information.

In [18]:
l2[-1]['insect']

['bee', 'moth']

8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2

In [19]:
d1= {'a':10, 'b':20, 'c' : 30} 
l2.insert(2,d1)
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

9. Based on new l2 created here extract the value 10 from l2 dictionary.

In [20]:
l2[2]['a']

10

10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300,“Hundreds”)] 
then what is the output of following

• L2[4][2]• L2[5][:]• L2[2] [:]• L2[1:5]• L2[5]
• L2[5][3:-1]• L2[-1]• L2[-4, -3]• L2[-4: -10]• L2[7][2]• L7[-7][[2:]• L2[ :- 3]• L2[-3:]

In [23]:
l3 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300,'Hundreds')]
print(l3[4][2])
print(l3[5][:])
#print(l3[2][:])
print(l3[1:5])
print(l3[5])
print(l3[5][3:-1])
print(l3[-1])
print(l3[-4:-3])
print(l3[-4:-10])
print(l3[7][2])
print(l3[-7][2:])
print(l3[:-3])
print(l3[-3:])

50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[100]
[]
work hard
thon
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass,FailsIf marks are more than 80 output must be “You got distinction”For marks more than 60 output must be “You got First class”Marks more than 40 will display “You got second class”Marks more than or equal to 35 “PASS” Otherwise Fail

In [26]:
marks = input("Enter marks: ")

if marks.replace('.', '', 1).isdigit():
    marks = float(marks)
    if marks>100 or marks<0:
        print("Enter correctly.")
    elif marks >= 80:
        print("Distinction")
    elif marks >= 70:
        print("First class")
    elif marks >= 50:
        print("Second class")
    elif marks >= 35:
        print("Pass")
    else:
        print("Fail")
else:
    print("Invalid input. Enter a number.")

Enter correctly.

In [ ]:
def Grade():
    try:
        marks = input("Enter marks: ")

        if not marks.replace('.', '', 1).isdigit():
            raise ValueError("Non-numeric input")

        marks = float(marks)

        if marks > 100 or marks < 0:
            raise ValueError("Marks out of range")

        if marks >= 80:
            return("Distinction")
        elif marks >= 70:
            return("First class")
        elif marks >= 50:
            return("Second class")
        elif marks >= 35:
            return("Pass")
        else:
            return("Fail")

    except ValueError:
        return("Invalid input:")

    except Exception:
        return("Unexpected error:")

    finally:
        return("Execution completed")
    
Grade()

12. Ask user to enter information about salary of the employee per year and rating received as A, B,C, D

If salary upto 5 lpa then increament based on ratings are A = 16% , B=12%, C= 10%, D=6%

If salary upto 10 lpa then increament based on ratings are A = 14% , B=10%, C= 8%, D=6%
 
 If salary upto 15 lpa then increament based on ratings are A = 8% , B=6%, C= 4%, D = noincrement
 
 If salary upto 23 lpa then increament based on ratings are A = 7% , B=5%, C= 4%, D=no

In [3]:
salary = input("Enter annual salary (in LPA): ")
rating = input("Enter rating (A/B/C/D): ").upper()

if salary.replace('.', '', 1).isdigit() and rating in ['A', 'B', 'C', 'D']:
    salary = float(salary)
    increment = 0

    if salary <= 5:
        if rating == 'A':
            increment = 16
        elif rating == 'B':
            increment = 12
        elif rating == 'C':
            increment = 10
        else:
            increment = 6

    elif salary <= 10:
        if rating == 'A':
            increment = 14
        elif rating == 'B':
            increment = 10
        elif rating == 'C':
            increment = 8
        else:
            increment = 6

    elif salary <= 15:
        if rating == 'A':
            increment = 8
        elif rating == 'B':
            increment = 6
        elif rating == 'C':
            increment = 4
        else:
            increment = 0

    elif salary <= 23:
        if rating == 'A':
            increment = 7
        elif rating == 'B':
            increment = 5
        elif rating == 'C':
            increment = 4
        else:
            increment = 0
    else:
        increment = 0

    if increment > 0:
        new_salary = salary + (salary * increment / 100)
        print(f"Increment: {increment}%")
        print(f"New Salary: {new_salary} LPA")
    else:
        print("No increment applicable.")

else:
    print("Invalid input. Enter valid salary and rating.")

Increment: 16%
New Salary: 5.8 LPA

17. Create a=100• Convert a to string• Convert a to list• Convert a to tuple• Convert a to dict• Convert a to set• Convert to float

In [29]:
a = 100
print(str(a))
print([a])
print((a))
print({1:a})
print({a})
print(float(a))

100
[100]
100
{1: 100}
{100}
100.0

Create city = “Pune”• Convert to int• Convert float• Convert list• Convert tuple• Convert dict• Convert set

In [30]:
city="Pune"
#print(int(city)) #not possible
#print(float(city)) #not possible
print(list(city))
print(tuple(city))
#print(dict(city))
print(set(city))

['P', 'u', 'n', 'e']
('P', 'u', 'n', 'e')
{'n', 'e', 'u', 'P'}

9. Create a list as marks = [20,18,15,17,18]• Convert to int• Convert float• Convert list• Convert tuple• Convert dict• Convert set• observe : errors and note it down for all conversions

In [31]:
marks= [20,18,15,17,18]
#print(int(marks))
print(tuple(marks))
print(set(marks))

(20, 18, 15, 17, 18)
{17, 18, 20, 15}

10. Create the empty list snames

• Add value 20 in the list using append

• Add value 30 in the list using extend

• Add values in the list using append

• Add value “WORK" in the list using extend

• Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]

• Add sname to combo using addition operator

In [32]:
snames = []
snames.append(20)
snames.extend([30])
snames.append('kind')
snames.extend("WORK")
snames

[20, 30, 'kind', 'W', 'O', 'R', 'K']

• Add combo to snames using append

In [33]:
combo = [1, 'a', 'b', 2, 3]
snames.append(combo)
snames

[20, 30, 'kind', 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]

• Add combo to snames using extend

In [34]:
snames.extend(combo)
snames

[20, 30, 'kind', 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

11. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1

In [35]:
l1 = [10, 20]
l3 = [1, 2, 3, 4, 5, 6, 7]
l3.insert(3, l1)
l3

[1, 2, 3, [10, 20], 4, 5, 6, 7]

12. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is ininteger or float then multiply with 5.

In [5]:
collection = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
for i in range(len(collection)):
    if type(collection[i]) in (int, float):
        collection[i] = collection[i] * 5
collection

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

• From the collection delete the record for “Nisha”

In [43]:
collection.remove("Nisha")
collection

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

• Find the location of 20.50

In [44]:
print(collection.index(102.5))

5

13. Create a comprehensive list for square upto 10

In [45]:
list_comp=[x**2 for x in range(1,11)]
list_comp

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

14. Create the comprehensive list to find number divisible by 13 till 200

In [46]:
div_by_13 = [i for i in range(1, 201) if i % 13 == 0]
print(div_by_13)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

15. Create the list which is divisible by 4 from 300 to 400

In [47]:
div_by_4=[i for i in range(300,401) if i%4==0]
print(div_by_4)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

16. Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]Then generate a new list based on all combination of x and y.For example: if x = 1 and y =2 then x_list = [0] and y_list = [0,1]And output will be [[0,0],[0,1]]If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [48]:
x = int(input("Enter x: "))
y = int(input("Enter y: "))
result = [[i, j] for i in range(x) for j in range(y)]
result

[[0, 0],
 [0, 1],
 [1, 0],
 [1, 1],
 [2, 0],
 [2, 1],
 [3, 0],
 [3, 1],
 [4, 0],
 [4, 1],
 [5, 0],
 [5, 1],
 [6, 0],
 [6, 1],
 [7, 0],
 [7, 1]]

22. Create the set s1 and s2 and perform set operations like union, intersection, difference, setdifference.

In [51]:
s1 = {1, 2, 3, 4}
s2 = {22,44,56,44,2}

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)
print("Difference s1-s2:", s1 - s2)
print("Difference s2-s1:", s2 - s1)

Union: {1, 2, 3, 4, 44, 22, 56}
Intersection: {2}
Difference s1-s2: {1, 3, 4}
Difference s2-s1: {56, 44, 22}

23. Create l2 as a list and perform set operation on s1 with l1

In [53]:
list2 = [3, 4, 7, 8]
print( s1 & set(list2))

{3, 4}

24. Ask user to enter the name and DOB and generate the password based on first name 4characters and @ddmm. For example name = SURESH and DOB = 05-05-1978 then passwordwill be SURE@0505

In [22]:
name = input("Enter name: ")
dob = input("Enter DOB: ")

password = name[:4].upper() + "@" + dob[:2] + dob[3:5]
print(password)

FIRE@203

25. Ask user to enter the name and DOB and generate the password based on first name 4characters and last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [23]:
password = name[:4].upper() + "@" + dob[-4:]
print(password)

FIRE@2003

26. Create the format mentioned here.** ** * ** * * *

In [56]:
for o in range(5):
    print("*"*o)

*
**
***
****

27.

In [62]:
for i in range(4, -1, -1):
    print("*" * i)

****
***
**
*

28. Str_val = “ABCD” then create the format as mentioned below:

A

A B

A B C

A B C D

In [63]:
str_val = "ABCD"
for i in range(len(str_val)):
    print(str_val[:i+1])

A
AB
ABC
ABCD

29. Create the format mentioned below:

A

BB

CCC

DDDD

In [69]:
a=1
for h in str_val:
    print(h * a)
    a+=1

A
BB
CCC
DDDD

30. Create the format mentioned below:1223334444

In [ ]:
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

31. Val = “ABCD” based on the Val, create the format mentioned belowDDCDCBDCBA

In [73]:
for i in range(len(str_val)-1, -1, -1):
    print(str_val[i:][::-1])

D
DC
DCB
DCBA

32. Ask user to enter the string. If string is UPGRAD then output must beDDADARDARGDARGPDARGPU

In [76]:
s = input("Enter string: ")
for i in range(len(s)-1, -1, -1):
    print(s[i:][::-1])

D
DA
DAR
DARG
DARGP
DARGPU

33. Create a list of odd numbers from 1 to 101. Using for loop2. Using comprehensive list

In [77]:
odds = []
for i in range(1, 102, 2):
    odds.append(i)
print(odds)
odds = [i for i in range(1, 102) if i % 2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101]

34. Create even number list using for loop from 200 to 250

In [78]:
evens = []
for i in range(200, 251):
    if i % 2 == 0:
        evens.append(i)
print(evens)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]Multiply each and every element by 2 and display the answer

36. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]Multiply each and every element from list2 by 2 and store the answer in list3

In [83]:
list2 = [2,70,'work', 'para',2.5, [1,2,3], (1,2), {1,2}, {1:'a',2:'b'}, 3,10,302.5]

list3 = []
for i in list2:
    try:
        list3.append(i * 2)
    except:
        list3.append(i)

print(list3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

37. Create a function to accept marks from user utilize exception concept to validate proper marks

In [90]:
def marks(m):
    try:
        if 0 <= m <= 100:
            print("marks:",m)
        else:
            raise ValueError
    except:
        print("Invalid marks")

marks(-100)

Invalid marks

38. Create a function to validate user first name/last name. User first name/last name shouldcontain only characters. No special characters, numbers, space in name

In [ ]:
def NameValidation(name):
    if name.isalpha()==False:
        print("Invalid")

NameValidation("sda sdas")

Invalid

39. Create a function to accept mobile number. Mobile number should contain 10 digits. No Specialcharacter, alphabets and space

In [103]:
def mobile_number():
    mob=input("enter number")
    if mob.isdigit()==False and len(mob) != 10:
        return("Wrong input")
    else:
        return int(mob)
mobile_number()

123456788

In [ ]:
def accept_input():
    try:
        name = input("Enter name: ")
        mob = input("Enter mobile number: ")

        if not name.isalpha():
            raise ValueError("Name must contain only letters")

        if not mob.isdigit():
            raise ValueError("Mobile number must contain only digits")

        if len(mob) != 10:
            raise ValueError("Mobile number must be exactly 10 digits")

        return "Valid input"

    except ValueError as e:
        return f"Invalid input: {e}"

print(accept_input())

40. Create a function to generate auto-password based on specific person details. Ask user to entername, DOB. And password must be First name 4 characters and year of birth

In [3]:
def auto_password():
    try:
        name = input("Enter name: ")
        dob = input("Enter date of birth: ")
        return name[:4].upper() + dob[-4:]
    except ValueError as e:
        return f"Invalid input: {e}"
    
print(auto_password())

DGFD2003

41. Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all thedetails in dictionary with customer number as 1 for first time. If user try to enter another value,then number should increase as 2 with new details and previous values should not change.For example:{}{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

In [104]:
cust = {}
cid = 1

while True:
    name = input("Name: ")
    dob = input("DOB: ")
    mobile = input("Mobile: ")

    cust[cid] = {"name": name, "DOB": dob, "mobile": mobile}
    cid += 1

    if input("Add more? (y/n): ") != 'y':
        break

print(cust)

{1: {'name': 'xyz', 'DOB': '17-12-2003', 'mobile': '123456790'}, 2: {'name': 'pqr', 'DOB': '13-11-2004', 'mobile': '64738529'}}

42. Based on the above example create the dictionary and save the same in a cust_info.txt orcust_info.log

In [ ]:
with open("cust_info.txt", "w") as f:
    f.write(str(cust))

43. Based on the above example read the file cust_info.txt . check if dictionary any information isavailable in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.

46. Create a function to calculate age till now

In [21]:
from datetime import date

def calculate_age(year, month, day):
    today = date.today()
    age = today.year - year

    # If birthday hasn’t occurred yet this year, subtract 1
    if (today.month, today.day) < (month, day):
        age -= 1

    return age
print(calculate_age(2002, 1, 6))

24

47. Create a function to check age eligibility for given customer based on DOB. Function will taketwo input DOB and ELIGIBILITY age.

In [17]:
def check_eligibility(dob, eligibility_age):
    today = date.today()
    age = today.year - dob.year
    if age >= eligibility_age:
        return "Eligible"
    else:
        return "Not eligible"
    
check_eligibility(date(2003, 5, 15), 18)

'Eligible'

48. Create a function to check if string is palindrome or not ? For example, if input is NITIN thenreverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which isnot same then it is not palindrome.

In [ ]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()  
    return s == s[::-1]
is_palindrome("NITIN")

True

49. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ….. upto 100

In [ ]:
def fibonacci():
    fib_series = []
    a, b = 0, 1
    while a <= 100:
        fib_series.append(a)
        a, b = b, a + b
    return fib_series
fibonacci()

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

50. Write a code to generate factorial of the number For example: factorial of 5 = 5! = 5*4*3*2*1

In [ ]:
def factorial(n):
    if n < 0:
        return "Factorial not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result
    
factorial(5)

120

51. Write a program to find largest number in the list

In [ ]:
def largest_num(lst):
    if not lst:
        return "List is empty"
    largest = lst[0]
    for num in lst:
        if num > largest:
            largest = num
    return largest
largest_num([3, 4, 7, 8])

8

52. Write a program to check frequency of each element in the list

In [ ]:
def frequency(lst):
    freq={}
    for item in lst:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    return freq
frequency([1, 2, 2, 3, 4, 4, 4, 5])

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

53. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find commonelements in the list.

In [ ]:
l1 =[ 1,2,3,4,5]
l2 =[3,2,8,7,9]
def common_elements(l1, l2):
    try:
        return set(l1) & set(l2)
    except Exception as e:
        return f"Error: {e}"

common_elements(l1, l2)

{2, 3}